<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>cypherApp</title>
    <link rel="stylesheet" href="../../stylesheets/index.css" />
  </head>
  <body>
    <h1>Ncript.</h1>

    <div class="main-display">
      <form action="/loadfile" method="post" enctype="multipart/form-data">
		<div class="Buttons">
			<p class ="choose-file-button">
			  <input
				type="file"
				name="fileName"
			  />
			</p>
			<hr>
			<p class="key">Key <input name="key" type="number" value="<%= key %>" /></p>
			<hr>
			<p class="cypher-button">
			  <input
				type="radio"
				name="encrypt"
				value="true"
				checked="true"
			  /><label>Cypher</label>
			</p>
			<p class="decypher-button">
			  <input type="radio" name="encrypt" value="false" /><label>Decypher</label>
			</p>
			<hr>
			<p>
			  <button id="submitText" type="submit" formaction="/loadtext">
				Submit Text
			  </button>
			</p>
			<hr>
			<p>
				<input value="Submit File" type="submit" />
			</p>
		  </div>
        <textarea name="inputText"><%= inputAreaText %></textarea>
      </form>
    <div class="output-section">
      <textarea name="ouputText"><%= outputAreaText %></textarea>
    </div>
	</div>
    <script
      type="text/javascript"
      src="../../javascripts/jquery-3.6.0-dev.js"
    ></script>
  </body>
</html>