@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Vampiro+One&display=swap');

body {
  background-color: rgb(61, 59, 59);
  background-image: url('background.jpg'); 
  background-size: contain;
  background-blend-mode: multiply;
  padding: 50px;
  height: 80vh;
  font: 14px "Poppins" , Helvetica, Arial, sans-serif;
}

h1{
  font-family: 'Vampiro One',Helvetica, Arial, sans-serif;
  font-size: 66px;
  color: #F4E7E5;
  margin: 5px 0px 50px 50px; 
  width: fit-content;
}

.main-display {
  display: flex;
  padding: 20px;
  justify-content: center;
  height: 600px;
}

form {
  display: flex;
  flex: auto;
  padding: 10px;

}

.Buttons {
  margin: 20px;
  width: 200px;
  padding: 5px;
  display: block;
  justify-content: space-around;
  
}


[name="inputText"]{
 background-color: #F4E7E5;
 border: none;
 border-radius: 10px;
 padding: 20px;
 margin: 20px;
 flex: auto;
}


[name="ouputText"] {
  background-color: #F4E7E5;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  flex: auto;
}

.output-section {
  display: flex;
  flex: auto;
  padding: 10px;

}

[type="submit"] {
  background-color: #FAA364;
  border: none;
  width: auto;
  padding: 10px  25px 10px 25px;
  border-radius: 5px;
  font-family:  14px "Poppins" , Helvetica, Arial, sans-serif;
}

[type="submit"]:hover{
  background-color: rgb(35, 243, 98);
}


[name="key"] {
  background-color: #F4E7E5;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 20px;
  padding: 5px;
  margin-left: 10px;
}

[type="file"] {
  background-color: #FAA364;
  border: none;
  width: 180px;
  padding: 10px;
  border-radius: 5px;
}

[type="file"]:hover {
  background-color: rgb(35, 243, 98);
}


hr {
  width: 80px;
  border: 1px  solid #bbb;
}

.choose-file-button {
  position: relative;
  left:3px;
}

.cypher-button {
  background-color: #F97D7D;
  border: none;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
}
.cypher-button:hover{
  background-color: rgb(35, 243, 98);
}

.decypher-button {
  background-color: #B5E896;
  border: none;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
}

.decypher-button:hover{
  background-color: rgb(35, 243, 98);
}

.key {
  background-color: #FAA364;
  border: none;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
}

.key:hover {
  background-color: rgb(35, 243, 98);
}

p {
  width: fit-content;
  position: relative;
  left: 40px;
}

.copyright {
  color: #F4E7E5;
  opacity: 0.7;
  position:relative;
  left: 50%;
}
